{
  "plugins": [
    "mocha"
  ],
  "rules": {
    "arrow-body-style": "off",
    "mocha/no-exclusive-tests": "error",
    "no-console": "off",
    "no-magic-numbers": "off",
    "no-return-assign": "off",
    "promise/always-return": "off",
    "no-empty-function": "off"
  },
  "env": {
    "mocha": true
  }
}
