{
  "extends": [
    "vstg",
    "vstg-lambda"
  ],
  "env": {
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 2018
  },

  "rules": {
    "node/no-unsupported-features": [ "error", { "version": "8.10.0" } ],
    "consistent-return": "off",
    "global-require": "off",
    "no-magic-numbers": "off",
    "camelcase": "off",
    "no-console": "off"
  }
}
